# Dossier public généré par Hugo
docs/

# Dépendances Node.js
node_modules/

# Fichiers temporaires ou de cache
*.log
*.DS_Store
*.bak
*.hugo_build.lock

# Worfklow GitHub Actions for Hugo
.github/workflows/